/* || RESET */

/* Box sizing rules, remove default margin */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove list styles on ul */
ul {
    list-style: none;
}

/* Set core body defalts */
body {
    min-height: 100vh;
    line-height: 1.7;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4, button, input, label {
    line-height: 1.1;
}

/* Make images easier to work with */
img, 
picture {
    max-width: 100%;
    display: block;
}

/* || VARIABLES */

:root {

    /* COLORS */

    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);

    /* FONT */

    --fs: 0.9375rem;
    --fs-medium: 1.5rem;
    --fs-large: 2.25rem;

    --fw-semi-bold: 600;
    --fw-regular: 400;
    --fw-extra-light: 200;

    /* BORDER */

    --border-top: 4px;
}

/* GENERAL STYLES */

body {
    display: grid;
    place-content: center;
    font-family: "Poppins", sans-serif;
    color: var(--grayish-blue);
    background-color: var(--very-light-gray);

    padding: 5rem 1.85rem;
}

p {
    font-size: var(--fs);
}

h1,
h2 {
    color: var(--very-dark-blue);
    font-weight: var(--fw-semi-bold);
}

/* BLOCKS */

.attribution { 
    color: var(--very-dark-blue);
    font-size: 11px; text-align: center; 
    margin-top: 1rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.text-container {
    text-align: center;
}

.cards-container {
    margin-top: 3rem;
    display: grid;
    row-gap: 2rem;
}

.cards {
    background-color: white;
    padding: 0.9rem;
    border-radius: 0.35rem;
    text-align: left;
    /* <offset-x> <offset-y> blur-radius spread-radius color */
    box-shadow: 3px 10px 10px 1px var(--grayish-blue);
}

.cards p {
    margin-top: 0.5rem;
}

/* ELEMENTS */

h1 {
    margin-top: 0.5rem;
}

h2 {
    font-size: 1.405rem;
}

.text-container__ribbon-text {
    font-weight: var(--fw-extra-light);
    font-size: var(--fs-medium);
}

.text-container__title {
    margin-top: 0.5rem;
    font-size: var(--fs-medium);
}

.text-container__intro {
    margin-top: 1rem;
}

.cards-container__card-cyan {
    border-top: var(--border-top) solid var(--cyan);
}

.cards-container__card-red {
    border-top: var(--border-top) solid var(--red);
}

.cards-container__card-orange {
    border-top: var(--border-top) solid var(--orange);
}

.cards-container__card-blue {
    border-top: var(--border-top) solid var(--blue);
}

li img {
    margin-top: 3rem;
    margin-right: 0;
    /* The left margin receives a share of the unused horizontal space, as determined mainly by the layout mode that is used. */
    margin-left: auto;
}

@media screen and (min-width: 64rem) {

    main {
        max-width: 64rem;
    }

    .text-container {
        margin: auto;
        max-width: 33rem;
    }

    .cards-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    .text-container__ribbon-text,
    .text-container__title {
        font-size: var(--fs-large);
    }

    .cards-container__card-cyan {
        /* grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4; */
        grid-area: 2/ 1/ span 2/ span 1;
    }
    .cards-container__card-red {
        /* grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3; */
        grid-area: 1/ 2/ span 2/ span 1;
    }.cards-container__card-blue {
        /* grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4; */
        grid-area: 2/ 3/ span 2/ span 1;
    }.cards-container__card-orange {
        /* grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5; */
        grid-area: 3/ 2/ span 2/ span 1;
    }
}